@use '../../styles/colors';

.post-card {
  max-width: 400px;
  min-height: 350px;
  background: white;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: colors.$card-shadow;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  &__image {
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }

  &__content {
    text-align: left;
    padding: 0 10px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__title {
    color: colors.$primary-color;
    line-height: normal;
    margin: 0 0 10px 0;
  }
    
  &__author {
    color: colors.$secondary-color;
    margin: 0;
  }

  &__link {
    margin-top: 20px;
  }
}
  
@media (prefers-color-scheme: dark) {
  .post-card {
    background-color: colors.$dark-theme-background-color;
    
    &__title {
      color: colors.$dark-theme-primary-color;
    }
    
    &__author {
      color: colors.$dark-theme-secondary-color;
    }
  }
}