@use "sass:color";
@use '../../styles/colors';

.post-list {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  
  button {
    padding: 8px 16px;
    border: none;
    background-color: #f9f9f9;
    color: colors.$primary-color;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    &:disabled {
      cursor: not-allowed;
    }
    
    &:hover:not(:disabled) {
      background-color: color.adjust(#f9f9f9, $lightness: -10%)
    }
  }
}

@media (prefers-color-scheme: dark) {
  .pagination {
    button {
      background: colors.$primary-color;
      color: white;

      &:hover:not(:disabled) {
        background: color.adjust(colors.$primary-color, $lightness: 10%);
      }
    }
  }
}