@use '../../styles/colors';

.custom-link {
  align-self: flex-start;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: colors.$primary-color;
  transition: color 0.3s;
  
  &__text {
    margin: 0 0.2rem;
    font-weight: 500;
  }

  &__icon {
    width: 24px;
    height: 24px;
    transition: fill 0.3s;

    &.back-link {
      transform: rotate(180deg);
    }
  }

  &:hover {
    color: colors.$hover-color;

    svg {
      fill: colors.$hover-color;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .custom-link {
    color: colors.$dark-theme-primary-color;

    &__icon {
      fill: colors.$dark-theme-primary-color;
    }

    &:hover {
      color: colors.$dark-theme-hover-color;

      svg {
        fill: colors.$dark-theme-hover-color;
      }
    }
  }
}